body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-image: linear-gradient(to bottom right, #00f490, #00bbc9);
}
h1 {
  font-family: "Abril Fatface", cursive;
}
.jumbotron {
  background-color: #00f48e00;
}
.drop-shadow {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.048); /*sombreamento do título*/
}
.lead {
  color: white;
  font-size: 1.6rem;
}

.btn-outline-light {
  border-color: rgb(255, 254, 254);
}

.btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0.068);
  transition-duration: 2s; /*duração do efeito da mudança de cor*/
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.11);
}
.dropdown-item {
  background-color: rgba(255, 255, 255, 0.068);
  color: rgb(255, 255, 255);
}
.controle-carousel {
  display: flex;
}

.card1 {
  margin-top: 30px;
  display: flex;
  margin-bottom: 60px;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: center;
}

.btn-outline-success {
  background-color: #00f490;
}
.row {
  margin-top: 30px;
}

.rounded-circle {
  margin-left: 30%;
}
.text-row {
  text-align: center;
  color: white;
}
.containerfooter {
  padding-top: 20px;
}
.containerfooter {
  padding-top: 60px;
  padding-bottom: 10px;
}
.containerfooter {
  margin-left: 300px;
  color: white;
}
.float-right {
  margin-right: 260px;
  text-decoration: none;
  color: white;
}
.containerfooter {
  margin-left: 250px;
}
a {
  color: white;
  text-decoration: none; /*tirar o sublinhado*/
}
